<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Haider/IdeaProjects/haider">
        <classes>
            <class name="org.example.MainTests">
                <methods>
                    <include name = "registerOverSixteen"/>
                    <include name = "registerBelowSixteen"/>
                    <include name = "createTimeTable"/>
                    <include name = "login"/>
                    <include name = "addGrade"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>